
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable");
        }
    </div>
    <div id="actionContainer"></div>
</div>
<script>
    function foucusAction(contentToAction) {
        $('html, body').animate({
            scrollTop: $("#"+contentToAction).offset().top - 100
        }, 500);
    }
</script>
